/build/
/AppDir/
/cmake-build-*/
/build.root.old/
*.AppImage
*.AppImage.zsync
appimagetool
appimageupdatetool-x86_64.AppImage
.linuxdeploy*
.appimage-tools/
.appimageupdatetool-extract/
linuxdeploy*
.cache/
*.user
*.autosave
.idea/
.vscode/
compile_commands.json
